#don't commit the dependencies
node_modules/
TODO.todo

#don't commit json files and txt
automessages.json
config.json
links.txt
TLDs.txt

#don't commit documentation
docs/
zdocs/

#don't commit developer storage file
backup/
channellogs/
data/
logs